<div class="main">
  <div class="child-one">
    <div>
      <nz-card>
        <form nz-form [formGroup]="employeeForm">
          <h1>Datos de empleado</h1>
          <nz-form-item>
            <nz-form-control>
              <input nz-input name="name" formControlName="name" type="email" placeholder="Nombre" class="input">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <input nz-input name="lastname" type="email" formControlName="lastname" placeholder="Apellido"
                class="input">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-select formControlName="job" value="sadasd" class="select" nzBorderless nzPlaceHolder="Posicion">
              <nz-option *ngFor="let position of positions" [nzValue]="position" [nzLabel]="position">{{position}}
              </nz-option>
            </nz-select>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-date-picker formControlName="born_date" class="input"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <button nz-button nzType="primary" nzBlock (click)="onSubmit()">{{ !editing ? 'Crear' : 'Editar' }}</button>
        </form>
      </nz-card>
    </div>
  </div>
  <div class="child-two">
    <div class="table-parent">
      <nz-table #basicTable>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Posicion</th>
            <th>Fecha de nacimiento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees; let i = index">
            <td>{{employee.name}}</td>
            <td>{{employee.lastname}}</td>
            <td>{{employee.job}}</td>
            <td>{{employee.born_date}}</td>
            <td>
              <a (click)="onEdit(employee, i)">Editar</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="onDelete(i)">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
